@import "tailwindcss";

@theme {
  --color-or-bg: #fdfcfd;
  --color-or-header: #f3eff4;
  --color-or-text: #4a2b38;
  --color-or-tab-active: #e8e4ea;
  --color-or-table-head: #b6d7d8;
  --color-status-cancel: #efbabc;
  --color-status-postpone: #f5e4b5;
  --color-status-confirm: #c2e2c6;
  --color-or-btn: #8db8b9;
  --font-sans: var(--font-prompt), ui-sans-serif, system-ui, sans-serif;
}